*.o
*.a
*.so
.vscode
*.out
*.~
\#*\#
*.gcno
*.gcda
*.hi
coding-style-reports.log
vgcore.*
*.zip
build
r-type_server
r-type_client
build/
cmake-build-debug/
*.obj
*.exe
*.dll
*.dylib
vcpkg/
vcpkg_installed/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db


*.log

*.tmp
*.bak
